<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Allwin.Sitecore.Modules.GoogleMaps.AppId" value="AIzaSyDkYHz-8Ppl61rrhQDTYh1YsV-zIsa9q1E" />
    </settings>
    <commands>
      <command name="webedit:editdatasource" type="Allwin.Sitecore.Modules.GoogleMaps.Commands.Common.EditDatasource, Allwin.Sitecore.Modules.GoogleMaps" />
    </commands>
  </sitecore>
</configuration>